//
// MIXINS
//

// Flex direction
@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

// Justify content
@mixin flex-justify-center {
    display: flex;
    justify-content: center;
}

@mixin flex-justify-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-justify-around {
    display: flex;
    justify-content: space-around;
}

@mixin flex-justify-evenly {
    display: flex;
    justify-content: space-evenly;
}

@mixin flex-justify-start {
    display: flex;
    justify-content: flex-start;
}

@mixin flex-justify-end {
    display: flex;
    justify-content: flex-end;
}

// Align items
@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin flex-align-start {
    display: flex;
    align-items: flex-start;
}

@mixin flex-align-end {
    display: flex;
    align-items: flex-end;
}

// Common combos
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-around-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-evenly-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flex-center-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@mixin flex-center-end {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

// Directional combos
@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-between-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-align-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin flex-column-justify-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@mixin flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex-column-between-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

// Height/width
@mixin size($height, $width: $height) {
    height: $height;
    width: $width;
}

// Transition
@mixin transition-default($delay: 0s) {
    transition: visibility 0s linear $delay, opacity 0.25s ease, transform 0.25s ease;
}

//
// VARIABLES
//

$semi-bold: 600;
$color-white: white;
$color-dark-white: darkgray;
$color-light-white: lightgray;
$color-orange: orange;
$color-semi-transparent: rgba(0, 0, 0, 0.5);
$color-brown: rgb(139, 44, 0);
$color-text-hover: rgb(230, 230, 230);
$color-text-active: rgb(210, 210, 210);
$color-counter-box: rgb(153, 153, 153);
$color-main-btn: rgb(226, 0, 34);
$color-main-body: rgb(44, 44, 44);
$color-header-main: rgb(168, 61, 19);
$color-header-container: rgb(55, 55, 55);
$color-button-active: rgb(186, 0, 34);
$color-button-hover: rgb(214, 0, 39);
$color-cart-count: rgb(207, 71, 17);
$color-cart-details-dark-red: rgb(177, 0, 9);
$color-cart-button: rgb(92, 29, 0);