@use './global' as *;

.custom_button {
    font-size: $font-base;
    padding: 10px 25px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: $color-white;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    box-shadow: 0px 0px 14px -7px #f08c19;
    background-image: linear-gradient(45deg, #FF512F 0%, #f08c19 51%, #FF512F 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:hover {
        background-position: right center;
        color: $color-white;
        text-decoration: none;
    }

    &:active {
        transform: scale(0.95);
    }

    &:disabled {
        background-image: linear-gradient(45deg, #ffc4c4 0%, #ffcd95 51%, #ffb0a0 100%);
    }
}

input {
    font-size: $font-base;
}

input[type=text],
input[type=number],
textarea {
    border-radius: 5px;
}

textarea {
    resize: none;
}

div#main {
    @include flex-justify-center();
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

div#main_content {
    width: 1366px;
    background-color: $color-white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: $font-base;
}

form#add_dish_form {
    @include flex-column();
    margin-top: 25px;
}

div#add_dish_1 {
    @include flex-between();
}

input#adminmenu_dish_name {
    width: 18em;
}

input#adminmenu_dish_description {
    width: 32em;
}

input#adminmenu_dish_price {
    width: 4.5em;
}

div#add_dish_2 {
    @include flex-align-center();
    margin-top: 25px;
}

div#add_dish_2 textarea {
    font-size: $font-md;
    margin-left: 15px;
}

div#add_dish_3 {
    margin-top: 25px;
}

label#adminmenu_imageFile_label {
    margin-right: 15px;
}

div#add_dish_4 {
    @include flex-center();
    margin-top: 25px;
}

div#deletedish_confirm_dialog {
    @include flex-column-center();
}

div.main_edit_main {
    @include flex-column();
}

div.main_edit_error {
    @include flex-column-align-center();
}

div.main_edit_error>img {
    @include size(400px);
}

div.main_edit_main {
    @include flex-column();
}

div.main_edit_main>ul {
    list-style: none;
}

li.main_editdishes_li {
    @include flex-between-center();
    margin-bottom: 15px;
}

li.main_editusers_li {
    @include flex-between-center();
    margin-bottom: 15px;
}

img#main_editdishes_img {
    @include size(100px, 120px);
    border-radius: 8px;
}

div#main_editdishes_text {
    width: 80%;
}

span#main_editdishes_text_name {
    margin-left: 10px;
    display: inline-block;
    width: 30%;
}

span#main_editdishes_text_price {
    display: inline-block;
    width: 10%;
}

span#main_editdishes_text_description {
    display: inline-block;
}

div#main_editusers_text {
    @include flex-between-center();
    flex-wrap: wrap;
    width: 90%;
}

%inline-block-22 {
    display: inline-block;
    width: 22%;
}

span#main_editusers_text_email {
    @extend %inline-block-22;
}

span#main_editusers_text_name {
    @extend %inline-block-22;
}

span#main_editusers_text_lastname {
    @extend %inline-block-22;
}

span#main_editusers_text_address {
    @extend %inline-block-22;
}

button#main_edit_edit_btn,
button#main_edit_delete_btn {
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
    background-color: $color-white;
    padding: 0;
    cursor: pointer;
    filter: brightness(1);

    &:disabled {
        filter: saturate(0);
    }
}

button#main_edit_delete_btn {
    margin-left: 5px;
}

button#main_edit_edit_btn:hover>img,
button#main_edit_delete_btn:hover>img {
    pointer-events: none;
    filter: brightness(1.15);
}

button#main_edit_edit_btn:active>img,
button#main_edit_delete_btn:active>img {
    filter: brightness(0.85);
}

img#main_edit_edit_btn_img,
img#main_edit_delete_btn_img {
    filter: brightness(1);
    transition: 0.1s ease;
}

img#main_edit_edit_btn_img {
    @include size(38px, 36px);
}

img#main_edit_delete_btn_img {
    @include size(38px, 30px);
}

form#edit_user_form {
    @include flex-column-align-center();
    margin: 20px 5px;
}

div#edit_user_form1,
div#edit_user_form2,
div#edit_user_form3,
div#edit_user_form4 {
    margin-bottom: 15px;
    @include flex-column();
    width: 70%;
}

div#edit_user_form5 {
    align-self: center;
}

input[type=text]#edit_user_email,
input[type=text]#edit_user_name,
input[type=text]#edit_user_lastname,
input[type=text]#edit_user_address {
    font-size: $font-sm;
}

@media screen and (max-width: 1420px) {
    input {
        font-size: $font-sm;
    }

    div#main_content {
        font-size: $font-sm;
    }
}

@media screen and (max-width: 1128px) {
    input#adminmenu_dish_name {
        width: 16em;
    }

    input#adminmenu_dish_description {
        width: 26em;
    }

    input#adminmenu_dish_price {
        width: 4.5em;
    }

    div#main_content {
        width: 95%;
    }

    div#add_dish_2 {
        flex-direction: column;

        >textarea {
            width: 80vw;
        }
    }
}

@media screen and (max-width: 1050px) {
    div#main_editdishes_text {
        width: 70%;
    }

    img#main_editdishes_img {
        @include size(60px, 80px);
    }
}

@media screen and (max-width: 962px) {
    input#adminmenu_dish_name {
        width: 16em;
    }

    input#adminmenu_dish_description {
        width: 26em;
    }

    input#adminmenu_dish_price {
        width: 4.5em;
    }

    div#add_dish_2>textarea {
        height: 20em;
    }

    span#main_editdishes_text_name {
        width: 50%;
    }

    span#main_editdishes_text_price {
        width: 20%;
    }

    span#main_editdishes_text_description {
        display: none;
    }
}

@media screen and (max-width: 812px) {
    div#main_editusers_text {
        display: block;
        text-align: start;
        width: 50%;

        >span {
            display: block;
        }
    }
}

@media screen and (max-width: 726px) {
    div#add_dish_1 {
        flex-direction: column;

        >div {
            @include flex-between();
        }
    }

    input#adminmenu_dish_name {
        width: 26em;
    }

    div#add_dish_2>textarea {
        height: 25em;
    }
}

@media screen and (max-width: 594px) {
    div#main_editdishes_text {
        width: 60%;
    }

    span#main_editdishes_text_name {
        width: 100%;
    }

    span#main_editdishes_text_price {
        width: 0%;
        display: none;
    }
}

@media screen and (max-width: 484px) {
    input#adminmenu_dish_name {
        width: 13em;
    }

    input#adminmenu_dish_description {
        width: 13em;
    }

    div.main_editdishes_error>img {
        @include size(300px);
    }

    div.main_editdishes_error>h1 {
        font-size: $font-lg;
    }

    div#main_editdishes_text {
        width: 60%;
    }

    img#main_editdishes_img {
        @include size(45px, 60px);
    }

    img#main_edit_edit_btn_img {
        @include size(19px, 18px);
    }

    img#main_edit_delete_btn_img {
        @include size(19px, 15px);
    }
}

@media screen and (max-width: 400px) {
    img#main_editdishes_img {
        display: none;
    }
}

@media screen and (max-width: 330px) {
    input#adminmenu_dish_name {
        width: 10em;
    }

    input#adminmenu_dish_description {
        width: 10em;
    }

    div#add_dish_2>textarea {
        height: 30em;
    }
}