@use './global' as *;

div.cart_button {
   display: flex;
   margin-right: 40px;
   background-color: $color-cart-button;
   padding: 10px 10px 10px 20px;
   border-radius: 20px;
   cursor: pointer;

   &:hover {
      background-color: $color-brown;
   }
}

.cart_button>img {
   margin-right: 10px;
   margin-left: 15px;
}

p#cart_p {
   margin: 0px 0px 0px 0px;
   color: $color-white;
}

.cart_button>div.cart_count {
   margin-right: 10px;
   margin-left: 15px;
   padding-left: 10px;
   padding-right: 10px;
   background-color: $color-cart-count;
   border-radius: 10px;
}

.cart_button>div.cart_count p {
   margin: 0px 0px 0px 0px;
   color: $color-white;
}

@media (max-width: 1100px) {
   div.cart_button {
      margin-right: 2vw;
      padding: 8px 0px 8px 4px;
      border-radius: 20px;
      cursor: pointer;
   }

   p#cart_p {
      display: none;
   }

   .cart_button>img {
      margin-right: 0px;
      margin-left: 15px;
      @include size(25px);
   }

   .cart_button>div.cart_count {
      margin-right: 8px;
      margin-left: 10px;
      padding-left: 5px;
      padding-right: 5px;
   }

   .cart_button>div.cart_count p {
      margin: 0px 0px 0px 0px;
      font-size: 18px;
      color: $color-white;
   }
}

@media (max-width: 590px) {
   div.cart_button {
      margin-right: 2vw;
      padding: 8px 0px 8px 4px;
      border-radius: 20px;
      cursor: pointer;
   }

   p#cart_p {
      display: none;
   }

   .cart_button>img {
      margin-right: 0px;
      margin-left: 5px;
      @include size(20px);
   }

   .cart_button>div.cart_count {
      margin-right: 8px;
      margin-left: 10px;
      padding-left: 5px;
      padding-right: 5px;
   }

   .cart_button>div.cart_count p {
      margin: 0px 0px 0px 0px;
      font-size: 14px;
      color: $color-white;
   }
}