@use './global' as *;

.cart_details_main {
    @include flex-row-between();
}

ul.cart_details_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin cart-details-button-common() {
    box-shadow: none;
    border: none;
}

@mixin cart-details-button-states {
    &:hover {
        outline: 2px solid $color-button-hover;
        background-color: $color-button-hover;
        color: $color-text-hover;
    }

    &:active {
        outline: 2px solid $color-button-active;
        background-color: $color-button-active;
        color: $color-text-active;
    }
}

button.cart_details_button_close {
    @include cart-details-button-common();
    @include cart-details-button-states();
    outline: 2px solid $color-main-btn;
    color: $color-white;
    font-size: 20px;
    background-color: $color-main-btn;
    border-radius: 25px;
    padding: 8px 13px;
    margin-right: 10px;
}

button.cart_details_button_order {
    @include cart-details-button-common();
    @include cart-details-button-states();
    outline: 2px solid $color-cart-details-dark-red;
    color: $color-cart-details-dark-red;
    font-size: 20px;
    background-color: $color-white;
    border-radius: 25px;
    padding: 8px 13px;

    &:disabled {
        outline: 2px solid $color-cart-details-dark-red;
        color: $color-cart-details-dark-red;
        background-color: $color-dark-white;
    }
}

button.cart_details_plus,
button.cart_details_minus {
    @include cart-details-button-common();
    @include cart-details-button-states();
    outline: 2px solid $color-cart-details-dark-red;
    color: $color-cart-details-dark-red;
    font-size: 18px;
    width: 40%;
    background-color: $color-white;
    border-radius: 10px;
    padding: 3px 8px;
}

.cart_details_main_right>h2 {
    float: right;
}

div.cart_details_main_right_buttons {
    float: left;
    width: 180px;
    margin-top: 20px;
}

div.cart_details_price {
    @include flex-row-between-center();
    margin-bottom: 10px;
}

div.cart_details_price_right {
    @include flex-between-center();
    width: 80px;
}

div.cart_details_price_left>span {
    display: inline-block;
    margin: 5px 20px 6px 0;
    color: $color-brown;
    font-weight: bold;
}

div.cart_details_counter_box {
    float: right;
    outline: 2px solid $color-counter-box;
    border-radius: 10px;
    padding: 5px 10px;
}

@media screen and (max-width: 450px) {
    div.cart_details_main>h2 {
        font-size: 18px;
    }

    div.cart_details_main_right>h2 {
        font-size: 18px;
    }

    div.cart_details_main_right_buttons {
        margin-top: 10px;
        margin-right: 15px;
        width: auto;
    }

    div.cart_details_main_right_buttons>button {
        font-size: 18px;
        padding: 4px 7px 4px 7px;
    }
}