@use './global' as *;

div.cart_button {
   display: flex;
   margin-right: 40px;
   background-color: rgb(92, 29, 0);
   padding: 10px 10px 10px 20px;
   border-radius: 20px;
   cursor: pointer;
}

div.cart_button:hover {
   background-color: rgb(139, 44, 0);
}

.cart_button>img {
   margin-right: 10px;
   margin-left: 15px;
}

p#cart_p {
   margin: 0px 0px 0px 0px;
   color: white;
}

.cart_button>div.cart_count {
   margin-right: 10px;
   margin-left: 15px;
   padding-left: 10px;
   padding-right: 10px;
   background-color: rgb(207, 71, 17);
   border-radius: 10px;
}

.cart_button>div.cart_count p {
   margin: 0px 0px 0px 0px;
   color: white;
}

@media (max-width: 1100px) {
   div.cart_button {
      margin-right: 2vw;
      padding: 8px 0px 8px 4px;
      border-radius: 20px;
      cursor: pointer;
   }

   p#cart_p {
      display: none;
   }

   .cart_button>img {
      margin-right: 0px;
      margin-left: 15px;
      width: 25px;
      height: 25px;
   }

   .cart_button>div.cart_count {
      margin-right: 8px;
      margin-left: 10px;
      padding-left: 5px;
      padding-right: 5px;
   }

   .cart_button>div.cart_count p {
      margin: 0px 0px 0px 0px;
      font-size: 18px;
      color: white;
   }
}

@media (max-width: 590px) {
   div.cart_button {
      margin-right: 2vw;
      padding: 8px 0px 8px 4px;
      border-radius: 20px;
      cursor: pointer;
   }

   p#cart_p {
      display: none;
   }

   .cart_button>img {
      margin-right: 0px;
      margin-left: 5px;
      width: 20px;
      height: 20px;
   }

   .cart_button>div.cart_count {
      margin-right: 8px;
      margin-left: 10px;
      padding-left: 5px;
      padding-right: 5px;
   }

   .cart_button>div.cart_count p {
      margin: 0px 0px 0px 0px;
      font-size: 14px;
      color: white;
   }
}