@use './global' as *;

div.dish_main {
    @include flex-row-between();
    margin-top: 20px;
    margin-bottom: 20px;
}

div.dish_left {
    display: flex;
    cursor: pointer;
    transition: .5s ease;

    &:hover {
        text-shadow: 0 0 2px $color-header-main;
        transition: .5s ease
    }
}

div.dish_left_text {
    margin-left: 20px;
    @include flex-column-justify-center();
}

img#dish_left_img {
    border-radius: 20px;
    @include size(150px, 170px);
}

div.dish_right {
    align-self: flex-end;
}

div.dish_left>span {
    margin-bottom: 5px;
    display: inline-block;
}

span#dish_text_price {
    margin-top: 1px;
    color: $color-orange;
    font-weight: bold;
    font-size: $font-xl;
}

button.add_button {
    outline: none;
    box-shadow: none;
    color: $color-white;
    border: none;
    font-size: $font-xl;
    background-color: $color-main-btn;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;

    &:hover {
        background-color: $color-button-hover;
        color: $color-text-hover;
    }

    &:active {
        background-color: $color-button-active;
        color: $color-text-active;
    }
}

span#dish_description {
    display: inline;
    font-style: italic;
}

@media screen and (max-width: 960px) {
    img#dish_left_img {
        @include size(90px, 110px);
    }

    span#dish_description {
        display: inline;
    }
}

@media screen and (max-width: 760px) {
    button.add_button {
        font-size: $font-base;
    }

    span#dish_text_price {
        font-size: $font-base;
    }

    span#dish_name {
        font-size: $font-base;
    }

    span#dish_description {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    img#dish_left_img {
        @include size(70px, 85px);
    }

    button.add_button {
        font-size: $font-md;
    }

    span#dish_text_price {
        font-size: $font-md;
    }

    span#dish_name {
        font-size: $font-md;
    }

    span#dish_description {
        display: none;
    }
}