@use './global' as *;

.header_main {
    background-color: $color-header-main;
    @include flex-row-between-center();
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom_button {
    margin-left: 10px;
    font-size: 1.0em;
    padding: 10px 25px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: $color-white;
    border-radius: 10px;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f08c19;
    background-image: linear-gradient(45deg, #FF512F 0%, #f08c19 51%, #FF512F 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.custom_button:hover {
    background-position: right center;
    color: $color-white;
    text-decoration: none;
}

.custom_button:active {
    transform: scale(0.95);
}

a#header_about_link,
a#header_admin_link {
    color: $color-white;
}

a#header_home {
    font-size: 1.6em;
    color: $color-white;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 4vw;
    cursor: pointer;
    transition: .3s ease
}

#header_home:hover {
    text-shadow: 0 0 10px white;
    transition: .3s ease
}

a#header_about_link:link,
a#header_home:link,
a#header_admin_link a#header_about_link:visited,
a#header_home:visited,
a#header_admin_link:visited,
a#header_about_link:hover,
a#header_admin_link:hover a#header_about_link:active,
a#header_home:active,
a#header_admin_link:active {
    text-decoration: none;
}

span#header_user_name {
    color: $color-white;
    margin-left: 16px;
    font-size: 1.2em;
}

.header_text {
    background-color: $color-header-container;
    width: 500px;
    display: block;
    position: relative;
    margin: -70px auto 0;
    padding: 1px 30px 12px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header_text>h1 {
    text-align: center;
    color: $color-white;
    font-size: 24px;
}

.header_text>p {
    text-align: center;
    color: $color-white;
    font-size: 14px;
}

.main_bg {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
}

@media (max-width: 1366px) {
    .header_main {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    a#header_home {
        font-size: 1.3em;
        margin-left: 8px;
        margin-bottom: 3px;
        margin-right: 8px;
    }

    button.custom_button {
        margin-left: 5px;
        font-size: 0.9em;
        padding: 7px 17px;
        background-size: 200% auto;
    }

    span#header_user_name {
        display: none;
    }
}

@media (min-width: 900px) and (max-width: 1366px) {
    span#header_user_name {
        display: inline;
        font-size: 12px;
    }
}

@media (max-width: 590px) {
    .header_main {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    a#header_home {
        font-size: 1.1em;
        display: block;
        margin-left: 7px;
        margin-bottom: 3px;
        margin-right: 0px;
    }

    button.custom_button {
        margin-left: 5px;
        font-size: 0.7em;
        padding: 5px 15px;
        background-size: 200% auto;
    }

    span#header_user_name {
        display: none;
    }
}

@media (max-width: 560px) {
    .header_text {
        width: 90%;
        display: block;
        position: relative;
        padding: 7px 5px;
    }

    .header_text>h1 {
        text-align: center;
        font-size: 18px;
    }

    .header_text>p {
        text-align: center;
        font-size: 10px;
    }
}