@use './global' as *;

.main_content {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  width: 900px;
  justify-content: center;
  margin: 40px auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 25px;
}

/* extension of main_content, used when the dishes could not be loaded */
.main_content_error {
  align-items: center;
}

div#main_content_initial {
  font-size: $font-3xl;
  text-align: 'center';
  color: $color-white;
  margin-top: '2rem';
}

ul.main_content_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img#error_img {
  max-width: 60%;
  max-height: 60%;
}

h1#main_content_error_h1 {
  font-size: $font-2xl;
}

@media screen and (max-width: 960px) {
  .main_content {
    width: 80%;
  }
}

@media screen and (max-width: 560px) {
  h1#main_content_error_h1 {
    font-size: $font-lg;
  }
}

@media screen and (max-width: 410px) {
  h1#main_content_error_h1 {
    font-size: $font-sm;
  }
}