@use './global' as *;

.cart_modal {
    position: fixed;
    inset: 0;
    @include size(100%);
    background-color: $color-semi-transparent;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    @include transition-default(0.25s);
    z-index: 2;
}

.cart_modal_content {
    position: absolute;
    width: 48rem;
    left: 50%;
    transform: translate(-50%, 4rem);
    background-color: $color-white;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    overflow-y: auto;
    max-height: 70vh;
}

.cart_modal_close_button {
    float: right;
    @include size(1.5rem);
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: $color-light-white;

    &:hover {
        background-color: $color-dark-white;
    }
}

.cart_show_modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    @include transition-default();
}

@media screen and (max-width: 830px) {
    .cart_modal_content {
        width: 97vw !important;
        padding: 9px 9px;
        -webkit-overflow-scrolling: touch;
    }
}