@use './global' as *;

div#no_orders {
    @include flex-column-center();
}

div#no_orders>img {
    @include size(400px);
}

div#main_div {
    @include flex-column-align-center();
    overflow-y: auto;
}

ul.order_details_ul {
    width: 90%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.order_details {
    @include flex-row-between-center()
}

div.order_food_details {
    @include flex-column();
    width: 50%;
}

div.order_food_details_total {
    width: 50%;
    @include flex-justify-center();
}

span#order_food_details_total_span {
    font-size: $font-xl;
    font-weight: $semi-bold;
}

div#order_food_detail {
    @include flex-row-between();
    margin-bottom: 20px;
}

div.food_counter_box {
    display: inline;
    outline: 2px solid $color-counter-box;
    border-radius: 10px;
    padding: 5px 10px;
}

@media screen and (max-width: 830px) {
    ul.order_details_ul {
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 560px) {
    h2#order_id {
        font-size: $font-xl;
        margin-bottom: 20px;
    }

    div.order_details {
        font-size: $font-base;
        display: block;
    }

    div.order_food_details {
        width: 95%;
    }

    div.order_food_details_total {
        width: 100%;
    }
}

@media screen and (max-width: 440px) {
    h2#order_id {
        font-size: $font-lg;
        margin-bottom: 18px;
    }

    div.order_details {
        font-size: $font-md;
        display: block;
    }

    div.order_food_details {
        width: 95%;
    }

    div.order_food_details_total {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    div#no_orders>img {
        @include size(300px);
    }

    div#no_orders>h1 {
        font-size: $font-lg;
    }
}

@media screen and (max-width: 300px) {
    div.order_food_details {
        width: 90%;
    }
}