@use './global' as *;

#error_page {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 7rem);
    background-color: $color-white;
    padding: 1rem 1.5rem;
    width: 72rem;
    border-radius: 0.5rem;
}

#error_page_content {
    @include flex-column-align-center();
}

p,
h1 {
    margin: 5px 0px 15px;
}

p {
    font-size: 18px;
}