.custom_button {
    font-size: 16px;
    padding: 10px 25px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f08c19;
    background-image: linear-gradient(45deg, #FF512F 0%, #f08c19  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.custom_button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
  
.custom_button:active {
    transform: scale(0.95);
}

.custom_button:disabled {
    background-image: linear-gradient(45deg, #ffc4c4 0%, #ffcd95  51%, #ffb0a0  100%);
}

input {
    font-size: 16px;
}

input[type=text], input[type=number], textarea{
    border-radius: 5px;
}

textarea {
    resize: none;
}

div#main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

div#main_content {
    width: 1366px;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 16px;
}


form#add_dish_form {
    display:flex;
    flex-direction: column;
    margin-top: 25px;
}

div#add_dish_1 {
    display: flex;
    justify-content:space-between;
}

input#adminmenu_dish_name, input#adminmenu_dish_description, input#adminmenu_dish_price {
    margin-left: 10px;
}
label#adminmenu_dish_description_label, label#adminmenu_dish_price_label  {
    margin-left: 45px;
}

input#adminmenu_dish_name {
    width: 18em;
}

input#adminmenu_dish_description {
    width: 32em;
}

input#adminmenu_dish_price {
    width: 4.5em;
}

div#add_dish_2 {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

div#add_dish_2 textarea {
    font-size: 14px;
    margin-left: 15px;
}

div#add_dish_3 {
    margin-top: 25px;
}

label#adminmenu_imageFile_label {
    margin-right: 15px;
}


div#add_dish_4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}


div#deletedish_confirm_dialog {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.main_edit_main {
    display: flex;
    flex-direction: column;
}

div.main_edit_error {

    display: flex;
    flex-direction: column;
    align-items: center;
}
div.main_edit_error > img{
    height: 400px;
    width: 400px;
}

div.main_edit_main {
    display: flex;
    flex-direction: column;
}

div.main_edit_main > ul {
    list-style: none;
}

li.main_editdishes_li {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

li.main_editusers_li {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

img#main_editdishes_img {
    width: 120px;
    height: 100px;
    border-radius: 8px;
}

div#main_editdishes_text {
    width: 80%;
}

span#main_editdishes_text_name {
    margin-left: 10px;
    display: inline-block;
    width: 30%;
}
span#main_editdishes_text_price {
    display: inline-block;
    width: 10%;
}

span#main_editdishes_text_description {
    display: inline-block;
}


div#main_editusers_text {
    display:flex;
    width: 90%;
    text-align:center;
    align-items: center;
}
span#main_editusers_text_email {
    display: inline-block;
    flex-grow: 1;
}
span#main_editusers_text_name {
    display: inline-block;
    flex-grow: 1;
}

span#main_editusers_text_lastname {
    display: inline-block;
    flex-grow: 1;
}

span#main_editusers_text_address {
    display: inline-block;
    flex-grow: 1;
}

button#main_edit_edit_btn , button#main_edit_delete_btn  {
    border: none;
    outline:none;
    box-shadow: none;
    border-radius: 5px;
    background-color: white;
    padding: 0;
    cursor: pointer;
    filter: brightness(1);
}

button#main_edit_edit_btn:disabled , button#main_edit_delete_btn:disabled  {
    filter: saturate(0);
}

button#main_edit_delete_btn {
    margin-left: 5px;
}

button#main_edit_edit_btn:hover > img, button#main_edit_delete_btn:hover > img {
    pointer-events: none;
    filter: brightness(1.15);
}

button#main_edit_edit_btn:active > img, button#main_edit_delete_btn:active > img {
    filter: brightness(0.85);
}

img#main_edit_edit_btn_img, img#main_edit_delete_btn_img {
    filter: brightness(1);
    transition: 0.1s ease;
}

img#main_edit_edit_btn_img {
    width: 36px;
    height: 38px;
}

img#main_edit_delete_btn_img {
    width: 30px;
    height: 38px;
}

form#edit_user_form {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 5px 20px 5px;
}

div#edit_user_form1, div#edit_user_form2 , div#edit_user_form3, div#edit_user_form4 {
    margin-bottom: 15px;
    display:flex;
    flex-direction: column;
    width: 70%;
}

div#edit_user_form5 {
    align-self: center;
}

input[type=text]#edit_user_email, input[type=text]#edit_user_name, input[type=text]#edit_user_lastname, input[type=text]#edit_user_address {
    font-size: 13px;
 }


@media screen and (max-width: 1420px) {
    input {
        font-size: 13px;
    }
    div#main_content {
        font-size: 13px;
    }
}

@media screen and (max-width: 1128px) {
    input#adminmenu_dish_name, input#adminmenu_dish_description, input#adminmenu_dish_price {
        margin-left: 10px;
    }
    label#adminmenu_dish_description_label, label#adminmenu_dish_price_label  {
        margin-left: 15px;
    }
    
    input#adminmenu_dish_name {
        width: 16em;
    }
    
    input#adminmenu_dish_description {
        width: 26em;
    }
    
    input#adminmenu_dish_price {
        width: 4.5em;
    }
    div#main_content {
        width: 95%;
    }
    div#add_dish_2 {
        flex-direction: column;
    }
    div#add_dish_2 > textarea {
        width: 80vw;
    }
}

@media screen and (max-width: 1050px) {
    div#main_editdishes_text {
        width: 70%;
    }
    img#main_editdishes_img {
        width: 80px;
        height: 60px;
    }
}

@media screen and (max-width: 962px) {
    input#adminmenu_dish_name, input#adminmenu_dish_description, input#adminmenu_dish_price {
        margin-left: 0px;
    }
    label#adminmenu_dish_description_label, label#adminmenu_dish_price_label  {
        margin-left: 0px;
    }
    
    input#adminmenu_dish_name {
        width: 16em;
    }
    
    input#adminmenu_dish_description {
        width: 26em;
    }
    
    input#adminmenu_dish_price {
        width: 4.5em;
    }
    div#add_dish_2 > textarea {
        height: 20em;
    }
    span#main_editdishes_text_name {
        width: 50%;
    }
    span#main_editdishes_text_price {
        width: 20%;
    }
    span#main_editdishes_text_description {
        display: none;
    }
}

@media screen and (max-width: 812px) {
    div#main_editusers_text {
        display: block;
        text-align: start;
        width: 50%;
    }
    div#main_editusers_text > span {
        display: block;
    }
}

@media screen and (max-width: 726px) {
    div#add_dish_1 {
        flex-direction: column;
    }
    div#add_dish_1 > div {
        display: flex;
        justify-content: space-between;
    }
    input#adminmenu_dish_name {
        width: 26em;
    }
    div#add_dish_2 > textarea {
        height: 25em;
    }
}

@media screen and (max-width: 594px) {
    div#main_editdishes_text {
        width: 60%;
    }
    span#main_editdishes_text_name {
        width: 100%;
    }
    span#main_editdishes_text_price {
        width: 0%;
        display: none;
    }
}

@media screen and (max-width: 484px) {
    input#adminmenu_dish_name {
        width: 13em;
    }
    input#adminmenu_dish_description {
        width: 13em;
    }
    div.main_editdishes_error > img {
        height: 300px;
        width: 300px;
    }
    div.main_editdishes_error > h1 {
        font-size: 18px;
    }
    div#main_editdishes_text {
        width: 60%;
    }
    img#main_editdishes_img {
        width: 60px;
        height: 45px;
    }
    img#main_edit_edit_btn_img {
        width: 18px;
        height: 19px;
    }
    img#main_edit_delete_btn_img {
        width: 15px;
        height: 19px;
    }
}

@media screen and (max-width: 400px) {
    img#main_editdishes_img {
       display: none;
    }
}

@media screen and (max-width: 330px) {
    input#adminmenu_dish_name {
        width: 10em;
    }
    input#adminmenu_dish_description {
        width: 10em;
    }
    div#add_dish_2 > textarea {
        height: 30em;
    }
}