div#main_div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

div#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

img#food_pic {
    border-radius: 20px;
    height: 270px;
    width: 340px;
}

div#name_and_short_description {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}

div#name_and_short_description > h1,h2 {
    text-align: center;
}

@media screen and (max-width: 960px) {
    img#food_pic {
        height: 240px;
        width: 300px;
    }
}

@media screen and (max-width: 720px) {
    div#header {
        margin-bottom: 20px;
    }

    #name_and_short_description > h1 {
        font-size: 24px;
    }

    #name_and_short_description > h2 {
        font-size: 22px;
    }

    img#food_pic {
        height: 210px;
        width: 270px;
    }
}

@media screen and (max-width: 560px) {
    #name_and_short_description > h1 {
        font-size: 20px;
    }

    #name_and_short_description > h2 {
        font-size: 17px;
    }

    img#food_pic {
        height: 120px;
        width: 170px;
    }
}

@media screen and (max-width: 400px) {
    #name_and_short_description > h1 {
        font-size: 17px;
    }

    #name_and_short_description > h2 {
        font-size: 14px;
    }

    img#food_pic {
        height: 120px;
        width: 170px;
    }
}