.header_main {
    background-color:rgb(168, 61, 19);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

a#header_home {
    font-size: 1.6em;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 8vw;
    margin-top: 10px;
    float:left;
    cursor: pointer;
}

#header_home:hover {
    text-shadow: 0 0 10px white;
}

a#header_about_link {
    margin-left: 20px;
    margin-top: 17px;
    font-size: 1.2em;
    color: white;
    float:right;
}
a#header_about_link:link, a#header_home:link,
a#header_about_link:visited, a#header_home:visited,
a#header_about_link:hover,
a#header_about_link:active, a#header_home:active{
    text-decoration: none; 
}

.header_text {
    background-color: rgb(55, 55, 55);
    width:500px;
    height:150px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
    padding-top: 1px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header_text > h1 {
    text-align: center;
    color: white;
    font-size: 24px;
}
.header_text > p {
    text-align: center;
    color: white;
    font-size: 12px;
}

.main_bg {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
}