.header_main {
    background-color:rgb(168, 61, 19);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom_button {
  margin-left: 10px;
  font-size: 1.0em;
  padding: 10px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f08c19;
  background-image: linear-gradient(45deg, #FF512F 0%, #f08c19  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.custom_button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.custom_button:active {
  transform: scale(0.95);
}

a#header_about_link {
    color:white;
}

a#header_home {
    font-size: 1.6em;
    color: white;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 4vw;
    cursor: pointer;
    transition: .3s ease
}

#header_home:hover {
    text-shadow: 0 0 10px white;
    transition: .3s ease
}

a#header_about_link:link, a#header_home:link,
a#header_about_link:visited, a#header_home:visited,
a#header_about_link:hover,
a#header_about_link:active, a#header_home:active {
    text-decoration: none; 
}

.header_text {
    background-color: rgb(55, 55, 55);
    width:500px;
    height:150px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
    padding-top: 1px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header_text > h1 {
    text-align: center;
    color: white;
    font-size: 24px;
}
.header_text > p {
    text-align: center;
    color: white;
    font-size: 12px;
}

.main_bg {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
}