.header_main {
    background-color:rgb(168, 61, 19);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header_main h1 {
    font-size: 1.6em;
    color: white;
    margin-left: 8vw;
    float:left;
}

.header_text {
    background-color: rgb(55, 55, 55);
    width:500px;
    height:150px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
    padding-top: 1px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header_text > h1 {
    text-align: center;
    color: white;
    font-size: 24px;
}
.header_text > p {
    text-align: center;
    color: white;
    font-size: 12px;
}

.main_bg {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
}